<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Admin Functions</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 30px;
    }

    .box {
      width: 400px;
      margin: 0 auto;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 8px;
    }

    .item {
      margin-bottom: 15px;
    }

    a {
      text-decoration: none;
      color: blue;
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="box">
    <h2>Trang chức năng admin</h2>

    <div class="item">
      <a href="/tutorials">Quản lý tutorial</a>
    </div>

    <div class="item">
      <a href="/orders">Quản lý orders</a>
    </div>
    <div class="item">
      <a href="/admin/users">Quản lý tài khoản</a>
    </div>
    <div class="item">
      <a href="/logout">Đăng xuất</a>
    </div>
  </div>
</body>

</html>